<!--关于我自己-->
<div class="container col-md-8 col-md-offset-2 text-center">
  <h3 class="text-muted"><%= title %></h3>
  <div class="text-success">
    <h1>这是</h1>
    <h1>我为了自由</h1>
    <h1>的个人博客</h1>
    <p>仅供交流与学习使用</p>
    <p>本博客使用的有Ejs模板渲染 jQuery bootstrap nodeJS等</p>
  </div>
</div>