<!--网站的页脚-->
<footer id="footer">
    <div class="text-left navbar-fixed-bottom">
        我为了自由的博客  &nbsp;Copyright (c) 2016 &nbsp; All Rights Reserved &nbsp;&nbsp;联系作者：<a href="#" target="_blank">我的QQ</a>
    </div>
</footer>