<nav class="navbar navbar-inverse navbar-fixed-top">
  <!--定宽居中-->
  <div class="container">
    <div class="navbar-header">
      <!--data-* 添加交互-->
      <!--data-toggle 添加事件
      data-target 指定事件的目标，在这里是通过id绑定导航栏-->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--首页链接-->
      <a class="navbar-brand" href="#">智游教育</a>
    </div>
    <!--导航条上面不同的选项-->
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <!--active 选中时的样式，默认选中首页-->
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#">HTML5</a></li>
        <li><a href="#">CSS3</a></li>
        <li><a href="#">JavaScript</a></li>
      </ul>
    </div>
  </div>
</nav>

