<!--发表文章-->
<div class="postbox">
    <h3 class="text-muted">文章发表</h3>
    <form method="post" class="text-primary">
        <!--标题:-->
        <label for="">标题：</label><br>
        <input class="title" type="text" name="title"><br><br><br>
        <!--标签：-->
        <label for="">标签：</label><br>
        <input class="tags" type="text" name="tag1"><br><br><br>
        <label for="">标签：</label><br>
        <input class="tags" type="text" name="tag2"><br><br><br>
        <label for="">标签：</label><br>
        <input class="tags" type="text" name="tag3"><br><br><br>
        <!--正文:-->
        <label for="">正文：</label><br>
        <textarea name="post" cols="80" rows="10"></textarea></br>
        <button type="submit" class="btn btn-primary">发表</button>
        <a href="/" type="submit" class="btn btn-default">返回</a>
    </form>
</div>