<!--上传页面-->
<h3 class="text-muted">头像上传</h3>
<form style="margin-top: 5rem;" method='post' action='/upload' enctype='multipart/form-data' class="form-horizontal">
  <input type="file" name="photo" id="photo" class="form-control">
  <input class="bg-primary btn btn-lg" class="submit" type="submit" />
</form>