
/*!*全局设置*!*/
*{padding:0;margin:0;}
p{line-height:24px;margin:1em 0;}
article{font-size:16px;padding-top:.5em;}
article a{color:#4b5f6e;text-decoration:none;}
article a:hover{color:#f9f9f9;text-decoration:underline;}
.info{font-size:14px;color: #0f0f0f;}
.infos{font-size: 14px;color: #4cae4c;}
.edit{margin:3px;padding:2px 5px;border-radius:3px;color:#4a93bd;font-size:13px;}
.edit:hover{text-decoration:none;background-color:#17315a;color:#fff;-webkit-transition:color .2s linear;}
/*.paging{float: left;}*/
.prepage a{float:left;text-decoration:none;padding:.5em 1em;color:#4cae4c;font-weight:bold;}
.nextpage a{float:right;text-decoration:none;padding:.5em 1em;color:#4cae4c;font-weight:bold;}
.prepage a:hover,.nextpage a:hover{text-decoration:none;background-color:#4a93bd;color:#f9f9f9;-webkit-transition:color .2s linear;}
.archive{list-style:none;line-height:28px;}
.archive h3{margin:0.5em 0;}
.archive time{float:left;font-size:14px;color:#f3f3f3;margin-right:1.2em;}
.tag{background-color:#4a93bd;border-radius:3px;font-size:14px;color:#ffffff;display:inline-block;padding:0 5px;margin-bottom:8px;}
.tag:hover{text-decoration:none;color:#f3f3f3;-webkit-transition:color .2s linear;}
.search{  margin: 0 auto;}
#searchbox{  margin-top: 2px;}
#searchbox input{background-color: #316282; border: 1px solid #0f0f0f}
#searchbutton{background-color: #4a93bd; border: 1px solid #0f0f0f}
*{padding:0;margin:0;}
body{background-image:url("/images/backImg.png");padding-top: 100px;}
#logo{height: 35px;}
#userlogo{height: 150px; margin: 3rem;}
.navlogo{margin: 1rem}
#header{
    position: absolute;
}
#headerImg{
    margin-left:1rem;
    /*padding: -50px;*/
    /*border:1px solid red;*/
    /*width: 100px;*/
    /*padding: -0.5rem;*/
    /*text-align: center;*/
}
.navbar-header{padding: 1rem;}
.navbar-brand{margin-top: -0.5rem;}
.navbar-nav{padding: 1rem;}
.masthead{
    background-color: #367097;
    padding: 0;
    margin-bottom: 2rem;
}
.Nav-color{
    color: #d1dce5;
    border-top: 1px solid #0f0f0f;
    border-right: 1px solid #0f0f0f;
}
.text-muted{
    color: #ffffff;
}
#footer{
    color: #4a93bd;
    line-height: 1.5;
    font-size: 1rem;
    padding: 0.1em 0 3.6em;
}
#myCarousel{
    margin:0 auto;
}
#myImg{
    margin-top: -5rem;
}
#smimg{
    margin-top: 10px;
}
#smimg ul{
    display: flex;
    list-style-type: none;
}
#smimg ul li{
    border: 1px solid black;
    list-style-type: none;
    height: 100%;
    width: 200px;
}
#imgurl{
    border:1px solid black;
    margin: 2rem;
}
#userimg{
    /*border: 1px solid white;*/
    height: 50px;
    width: 100px;
}
#success,#error{
    color: #0099FF;
}
.passage{
    border: 1px solid #859bac;
    background-color: #859bac;
}
.passage div{
    border: 1px solid #4b5f6e;
    background-color: #4b5f6e;color: #c6d4df;
}
.comment{
    color: #4cae4c;
}
.commentboxAll{
    border:1px solid #1e7297;
    background-color: #1e7297;
}
.commentboxOne{
    border:1px solid #445468;
    background-color: #445468;
    margin: 0.5rem;
    padding: 0.5rem;
    color: #ffffff;
}
.commentboxOne:hover{
    border: 1px solid #4581a5;
    background-color: #4581a5;
}
.postbox{
    border:1px solid #4c5966;
    background-color: #4c5966;
    float: left;
}
textarea{
    background-color: #222b35;
    border:1px solid #1c242c;
}
.tags{
    height: 2rem;
    width: 5rem;
    border:1px solid #222b35;
    background-color: #222b35;
    border-radius: 3px;
}
.title{
    height: 2rem;
    width: 8rem;
    border:1px solid #222b35;
    background-color: #222b35;
    border-radius: 3px;
}
.homeContent{
    width: 50rem;
    height: 100%;
    margin: 0 auto;
}
#photo{
    opacity: 0;
    margin-top: -10rem;
}
.hometitle{
    background-color: #141414;
    color: #8F98A0;
    margin: 1rem auto;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}
.home{
    border:2px solid black;
    background-color: #1C1C1D;
    /*background-image: url("/images/homeImg.jpg");*/
    color:#ffffff;
}
.homeBody{
    background-image: url("/images/profile_bg.jpg");
}
.homeInput{
    background-color: #282828;
    color: #EBEBEB;
    border-color:#D4D4D4;
}
.profile_header{
    background-image: url("/images/profile_header_bg_texture.jpg");
    margin-top: -2.5rem;
    border:2px solid black;
    border-top: none;
    box-shadow: gainsboro;
    width: 120%;
    height: 18rem;
    margin-left: -5rem;
}
.homeOne{
    /*border:1px solid #4b5f6e;*/
    /*background-color: #4b5f6e;*/
    margin-top: 1rem;
}
@media (max-width: 768px){
    .navbar-header {
        text-align: center;
        width: 100%;
    }
    .navbar-brand {
        float:none;
        display:inline-block;
        margin-left: auto;
        margin-right: -6rem;
        margin-top: -0.5rem;
    }
    .navbar-toggle{
        text-align: right;
    }
    .navlogo{
        /*padding: 1rem;*/
    }
}
